<ul class="nav navbar-nav navbar-right">
	@if ( User.Identity.IsAuthenticated )
	{
		<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @User.Identity.Name</li>
		<li><a asp-controller="User" asp-action="SignOut">Sign out</a></li>
	}
	else
	{
		<li><a asp-controller="User" asp-action="Login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>
		<li><a asp-controller="User" asp-action="Register">Register</a></li>
	}
</ul>