@model Website.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Please login to continue</h3>
			</div>
			<div class="panel-body">
				<form asp-controller="User" asp-action="Login" method="post" class="form-horizontal">
					<div class="form-group">
						<label asp-for="Email" class="col-md-3 control-label"></label>
						<div class="col-md-9">
							<input asp-for="Email" class="form-control" />
							<span asp-validation-for="Email"></span>
						</div>
					</div>
					<div class="form-group">
						<label asp-for="Password" class="col-md-3 control-label"></label>
						<div class="col-md-9">
							<input asp-for="Password" class="form-control" />
							<span asp-validation-for="Password"></span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Sign In
							</button>
							<a asp-controller="Home" asp-action="Index" class="btn btn-default">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp; Cancel
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>