@{
	ViewData["Title"] = "Registration Complete";
}

<div class="alert alert-success" role="alert">
	<strong>Success!</strong> You have successfully registered. Please <a class="alert-link" asp-controller="User" asp-action="Login">login to continue</a>.
</div>